
.footer {
    background-color: var(--footer-color);
    padding: 24px 32px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
}
.footer__container{
    background-color: inherit;
}
.footer__button {
    color: white;
    background: var(--button-color);
    height: 48px;
    width: 145px;
    border-radius: 32px;
    border: none;
}
