
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.header__container{
    display: flex;
    justify-content: space-between;
}
.header__text {
    color: white;
    padding: 32px 32px;
}

.header__text__h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.header__text__date {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color: var(--paragraph-color);
}

.header__logo {
    float: right;
}
