* {
    background-color:var(--main-bcg);
}

.cards_container {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 32px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .cards_container {
        justify-content: center;
        text-align: -webkit-center;
        display: block;
    }
}

.card {
    height: 420px;
    width: 320px;
    border-radius: 32px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.96%, rgba(14, 13, 19, 0.9) 89.58%);
    margin: 0 0 32px;
}

@media screen and (max-width: 380px) {
    .card {
        height: 400px;
        width: 300px;
    }

    .cards_container {
        padding: 0;
    }
}

