
footer {
    background-color: var(--footer-color);
    padding: 24px 32px;
    height: 96px;
    position: absolute;
    width: 100%;
}
@media screen and (min-width: 1344px) {
    .footer{
        bottom: 0;
    }
}


.footer_button {
    color: white;
    background: var(--button-color);
    height: 48px;
    width: 145px;
    border-radius: 32px;
    border: none;
}
